<!-- <div #editorRef id="drawflow" style="height: 600px; width: 100%;"></div> -->
<div #editorRef id="drawflow" style="height: 500px; border: 1px solid #ccc;"></div>
<input id="inputArchivo" type="file" accept=".json" style="display: none;" (change)="onFileSelected($event)">
<button (click)="seleccionarArchivo()">Cargar Flujo</button>
<button (click)="guardarFlujo()">Guardar Flujo</button>




<!-- <div style="height: 500px; border: 1px solid #ccc; margin: 10px;">
  <div id="drawflow" style="height: 100%; background-color: #f0f0f0;"></div>
</div>

<button (click)="cargarFlujo()">Cargar Flujo</button>

<input type="file" (change)="onFileSelected($event)"> -->