<!-- <div class="contenedor-modal">
  <div class="lista-nodos">
    
    <div *ngFor="let nodo of nodos" (click)="crearNodo(nodo.tipo)" class="nodo-item">
      <strong>{{ nodo.nombre }}</strong>
      <br>
      <small>{{ nodo.descripcion }}</small>
    </div>
 
  <button class="btn-guardar" (click)="guardarFlujo()">
    💾 Guardar Flujo
  </button>
  <button  class="btn-guardar" (click)="reiniciarFlujo()">
    🗑️ Eliminar flujo</button>

</div>
  <div class="area-trabajo" id="drawflow">
    
  </div>
</div>
   -->


   <div class="contenedor-modal">
    <div class="sidebar">
      <div class="lista-nodos">
        <div *ngFor="let nodo of nodos" (click)="crearNodo(nodo.tipo)" class="nodo-item">
          <strong>{{ nodo.nombre }}</strong>
          <br>
          <small>{{ nodo.descripcion }}</small>
        </div>
  
        <button class="btn-guardar" (click)="guardarFlujo()">💾 Guardar Flujo</button>
        <button class="btn-guardar"  (click)="ordenarFlujo()">🧹 Ordenar flujo</button>
        <button class="btn-guardar" (click)="reiniciarFlujo()">🗑️ Eliminar flujo</button>
      </div>
    </div>
  
    <div class="area-trabajo" id="drawflow">
      <!-- Aquí va tu canvas o editor Drawflow -->
    </div>
  </div>