 
<!-- <div style="float: center;  margin: 0 auto;   
margin-right: auto; width: 60%;">
    <div style="float: right;    
    margin-right: auto;">

    </div> -->
 
<!-- 
<div class="FONDO">
  <app-headers valor="Informes varios de gestión"></app-headers>

        <div style="margin-right: auto; ">
         <button mat-raised-button  (click)="traer_archivo('Solicitudes')" style="  width: 205px;  margin-top: 10%;
         margin-left: 10%;">
         <i class="material-icons">archive</i>
                 solicitudes  (Excel)
          </button>
      
        </div>

        <div style="margin-right: auto; ">
          <button mat-raised-button  (click)="traer_archivo('Conversacion')" style="  width: 205px;  margin-top: 2%;
          margin-left: 10%;">
          <i class="material-icons">archive</i>
          Conversaciones (Excel)
           </button>
         </div>
       
</div> -->
<div class="informes-container">
  <app-headers valor="Informes varios de gestión"></app-headers>

  <div class="informes-botones">
    <button mat-raised-button color="primary" (click)="traer_archivo('Solicitudes')" class="boton-informe">
      <mat-icon>archive</mat-icon>
      Solicitudes (Excel)
      <mat-icon class="extra-icon">file_download</mat-icon>
    </button>

    <button mat-raised-button color="accent" (click)="traer_archivo('Conversacion')" class="boton-informe">
      <mat-icon>chat</mat-icon>
      Conversaciones (Excel)
      <mat-icon class="extra-icon">file_download</mat-icon>
    </button>

    <!-- <button mat-raised-button color="warn" (click)="traer_archivo('Reportes')" class="boton-informe">
      <mat-icon>assessment</mat-icon>
      Reportes (PDF)
      <mat-icon class="extra-icon">file_download</mat-icon>
    </button> -->
  </div>
</div>

