.cabecera {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 20px;
  }
  
  .formulario {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  
  mat-form-field {
    flex: 1 1 250px;
    min-width: 250px;
  }
  
  .botones-card {
    margin-top: 20px;
    text-align: center;
  }
  
  .botones-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
  }
  