
<mat-toolbar color="primary" class="cabecera">
  <mat-icon>settings</mat-icon>
  <span>Activación de Módulos</span>
</mat-toolbar>

<form class="formulario" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
  <mat-card appearance="outlined">
    <mat-card-content>
      <div class="form-grid">
        <mat-form-field appearance="fill">
          <mat-label>Entidad</mat-label>
          <input matInput formControlName="Entidad" placeholder="JDM" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Módulos</mat-label>
          <mat-select formControlName="Modulo">
            <mat-option value="Call Center">Call Center</mat-option>
            <mat-option value="Comercio">Comercio</mat-option>
            <mat-option value="Eventos">Eventos</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="Estado">
            <mat-option value="A">Activo</mat-option>
            <mat-option value="I">Inactivo</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="botones-card" appearance="outlined">
    <mat-card-content class="botones-container">
      <button mat-raised-button color="primary">
        <mat-icon>save</mat-icon>&nbsp;Guardar
      </button>
      <button mat-raised-button color="warn" (click)="onNoClick()">
        <mat-icon>cancel</mat-icon>&nbsp;Volver
      </button>
      <button mat-raised-button color="accent" (click)="Limpiar()">
        <mat-icon>remove_from_queue</mat-icon>&nbsp;Limpiar
      </button>
    </mat-card-content>
  </mat-card>
</form>

<div class="alert alert-success" *ngIf="isSuccessful">
  ¡Tu registro fue exitoso!
</div>




