

 
  <app-doughnut *ngIf="isLoggedIn"></app-doughnut>

  <mat-card *ngIf="!isLoggedIn" class="login-card">
    <mat-card-header>
      <div mat-card-avatar class="login-logo"></div>
      <mat-card-title>Bienvenido a <strong>MORE</strong></mat-card-title>
      <mat-card-subtitle>Software para la administración de WhatsApp</mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="login-input">
          <mat-label>Usuario</mat-label>
          <input matInput [(ngModel)]="form.username" name="username" required>
          <mat-error *ngIf="!form.username">Por favor valide su usuario...</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="login-input">
          <mat-label>Clave</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            [(ngModel)]="form.password"
            name="password"
            required
          >
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Mostrar u ocultar contraseña'"
            [attr.aria-pressed]="!hidePassword"
            tabindex="-1"
            type="button"
          >
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="!form.password">Por favor valide su clave...</mat-error>
        </mat-form-field>
        
        <!-- <mat-form-field appearance="fill" class="login-input">
          <mat-label>Clave</mat-label>
          <input matInput type="password" [(ngModel)]="form.password" name="password" required>
          <mat-error *ngIf="!form.password">Por favor valide su clave...</mat-error>
        </mat-form-field>
   -->
        <mat-form-field appearance="fill" class="login-input">
          <mat-label>NIT</mat-label>
          <input matInput [(ngModel)]="form.Nit" name="Nit" required>
          <mat-error *ngIf="!form.Nit">Por favor verifique su NIT...</mat-error>
        </mat-form-field>
  
        <div class="captcha-container">
          <re-captcha class="g-recaptcha"
                      (resolved)="resolved($event)"
                      name="recaptcha"
                      siteKey="6Lc4kNgqAAAAAMIXmv8XD_Yze9SvNNlSFCerN15X">
          </re-captcha>
        </div>
  
        <div class="btn-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid">
            Ingresar
          </button>
       
        </div>
        
      </form>
      <div class="btn-container">
      <button mat-raised-button class="btn-recuperar"  (click)="onRecuperarClave()">
        Recuperar Clave
      </button>
      </div>
    </mat-card-content>
  </mat-card>


