<div class="reset-container">
    <h2>Restablecer contraseña</h2>
  
    <form [formGroup]="form" (ngSubmit)="resetPassword()">
      <label>Nueva contraseña:</label>
      <input type="password" formControlName="nuevaClave" />
      <div *ngIf="form.controls['nuevaClave'].invalid && form.controls['nuevaClave'].touched">
        La contraseña debe tener al menos 6 caracteres.
      </div>
  
      <button type="submit" [disabled]="form.invalid">Guardar contraseña</button>
    </form>
  
    <p class="mensaje">{{ mensaje }}</p>
  </div>
  