<h2 mat-dialog-title>Trasladar Conversación</h2>

<mat-dialog-content style="padding: 0 10px;">

  <div style="background: #f0f4f8; border-radius: 8px; padding: 12px; margin-bottom: 15px;">
    <p><strong>Contacto:</strong> {{ data.contacto }}</p>
    <p><strong>Número:</strong> {{ data.numero }}</p>
  </div>
  <label style="font-weight: bold; margin-bottom: 10px; display: block;">Selecciona un usuario para trasladar:</label>

  <div class="contenedor-lista">
    <mat-selection-list [(ngModel)]="usuarioSeleccionado">
      <mat-list-option *ngFor="let usuario of usuariosFiltrados" [value]="usuario" class="usuario-opcion">
        <div class="usuario-contenedor">
          <div class="usuario-nombre">
            {{ usuario.Nombre }}
          </div>
          <div class="etiquetas">
            <span *ngFor="let etiqueta of (usuario.tipo_atencion_desc?.split(',') || [])" class="chip">
              {{ etiqueta.trim() }}
            </span>
          </div>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
  
</mat-dialog-content>

<mat-dialog-actions align="end" style="padding: 10px 16px;">
  <button mat-button (click)="cerrar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="trasladar()">Trasladar</button>
</mat-dialog-actions>
