
  
  <mat-toolbar color="primary" class="cabecera">
    <mat-icon>person_add</mat-icon>
    <span>Matrícula de Usuarios</span>
  
    <span class="spacer"></span>
    <button mat-raised-button color="accent" (click)="Limpiar()">
      <mat-icon>remove_from_queue</mat-icon>&nbsp;Limpiar
    </button>
  </mat-toolbar>
  
  <form class="formulario" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
    <mat-card appearance="outlined">
      <mat-card-content class="form-grid">
  
        <!-- Usuario -->
        <mat-form-field appearance="fill">
          <mat-label>Código</mat-label>
          <input matInput id="Usuario" formControlName="Usuario" placeholder="JDM" />
          <mat-error *ngIf="form.get('Usuario').hasError('required')">Usuario es <strong>Requerido</strong></mat-error>
        </mat-form-field>
  
        <!-- Nombre -->
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput id="Nombre" formControlName="Nombre" placeholder="Nombre" />
          <mat-error *ngIf="form.get('Nombre').hasError('required')">Nombre es <strong>Requerido</strong></mat-error>
        </mat-form-field>
  
        <!-- Password -->
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput id="Password" type="password" formControlName="Password" placeholder="Contraseña" />
          <mat-error *ngIf="form.hasError('pattern')">
            La contraseña debe tener mayúscula, minúscula, número y mínimo 8 caracteres.
          </mat-error>
          <mat-error *ngIf="form.hasError('required')">Contraseña es <strong>Requerida</strong></mat-error>
        </mat-form-field>
  
        <!-- Email -->
        <mat-form-field appearance="fill">
          <mat-label>Correo</mat-label>
          <input matInput type="email" id="Email" formControlName="Email" placeholder="Email" />
          <mat-error *ngIf="form.hasError('required')">Email es <strong>Requerido</strong></mat-error>
        </mat-form-field>
  
        <!-- Celular -->
        <mat-form-field appearance="fill">
          <mat-label>Celular</mat-label>
          <input matInput id="Celular" formControlName="Celular" placeholder="Celular" />
          <mat-error *ngIf="form.hasError('required')">Celular es <strong>Requerido</strong></mat-error>
        </mat-form-field>
  
        <!-- Perfil -->
        <mat-form-field appearance="fill">
          <mat-label>Perfil</mat-label>
          <mat-select id="Perfil" formControlName="Perfil">
            <mat-option value="A">Administrador</mat-option>
            <mat-option value="U">Usuario</mat-option>
          </mat-select>
          <mat-error *ngIf="form.hasError('required')">Perfil es <strong>Requerido</strong></mat-error>
        </mat-form-field>
  
        <!-- Estado -->
        <mat-form-field appearance="fill">
          <mat-label>Estado</mat-label>
          <mat-select id="Estado" formControlName="Estado">
            <mat-option value="A">Activo</mat-option>
            <mat-option value="I">Inactivo</mat-option>
          </mat-select>
          <mat-error *ngIf="form.hasError('required')">Estado es <strong>Requerido</strong></mat-error>
        </mat-form-field>
  
        <!-- Tipo de Atención -->
        <mat-form-field appearance="fill">
          <mat-label>Atención de Clientes</mat-label>
          <mat-select id="Tipo_atencion" formControlName="Tipo_atencion">
            <mat-option value="T">Todos</mat-option>
            <mat-option value="A">Ahorro a la vista</mat-option>
            <mat-option value="C">Créditos</mat-option>
            <mat-option value="E">Estados de cuenta</mat-option>
            <mat-option value="CP">Cotización de pólizas</mat-option>
            <mat-option value="CE">Certificados</mat-option>
            <mat-option value="DN">Descuentos de nómina</mat-option>
            <mat-option value="EC">Envío de consignaciones</mat-option>
            <mat-option value="CB">Compra Boletería de cine</mat-option>
            <mat-option value="CA">Comunicarse con asesor</mat-option>
            <mat-option value="N">Sin asignación</mat-option>
          </mat-select>
          <mat-error *ngIf="form.hasError('required')">Clase Atención es <strong>Requerida</strong></mat-error>
        </mat-form-field>
  
      </mat-card-content>
    </mat-card>
  
    <mat-card class="botones-card" appearance="outlined">
      <mat-card-content class="botones-container">
        <button mat-raised-button color="primary" type="submit">
          <mat-icon>save_alt</mat-icon>&nbsp;Registrar
        </button>
        <button mat-raised-button color="warn" type="button" (click)="onNoClick()">
          <mat-icon>cancel</mat-icon>&nbsp;Cancelar
        </button>
      </mat-card-content>
    </mat-card>
  </form>
  
  <div class="alert alert-success" *ngIf="isSuccessful">
    ¡Tu registro fue exitoso!
  </div>
  