/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* .session-ended-dialog .mat-dialog-container {
    background: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
  } */
  /* ::ng-deep .drawflow textarea{
    width: -webkit-fill-available;
    box-sizing: border-box;
  }
  
  ::ng-deep .drawflow input{
    width: -webkit-fill-available;
    box-sizing: border-box;
  } */