.campania-dialog{
  width:100%;
  max-width:1000px;

}

.tipo-campania,
.media-card,
.mensaje-card,
.excel-card{
  margin-bottom:18px;
  border-radius:12px;
  padding:18px;
}

.titulo-seccion{
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:15px;
  font-size:18px;
  font-weight:600;
  color:#3949ab;
}

.radio-group{
  display:flex;
  gap:30px;
  flex-wrap:wrap;
}

.radio-group mat-radio-button{
  display:flex;
  align-items:center;
}

.radio-group mat-icon{
  margin-right:6px;
  font-size:20px;
  vertical-align:middle;
}

.full-width{
  width:100%;
}

.drop-zone{

  border:2px dashed #cfd8dc;
  border-radius:12px;
  padding:30px;
  text-align:center;
  cursor:pointer;
  transition:.3s;
  background:#fafafa;

}

.drop-zone:hover{

  border-color:#3f51b5;
  background:#f3f6ff;

}

.media-icon,
.excel-icon{

  font-size:55px;
  width:55px;
  height:55px;
  color:#3f51b5;
  margin-bottom:10px;

}

.drop-zone h4{

  margin:10px 0 5px;

}

.drop-zone p{

  color:#777;
  margin:0;

}

.tabla-resultados{
  margin-top: 20px;
  height: 350px;      /* o 400px */
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.ok{

  color:#2e7d32;
  font-weight:bold;

}

.error{

  color:#d32f2f;
  font-weight:bold;

}

.acciones{

  display:flex;
  justify-content:flex-end;
  gap:12px;
  margin-top:25px;

}

.contenido-modal {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.lista-contactos {
  flex: 1;
  overflow-y: auto;
}

/* .campania-dialog{
    max-height: 85vh;
    overflow-y: auto;
} */

.tabla-container,
.tabla-resultados{
    max-height: 350px;
    overflow-y: auto;
}

.tabla-container table,
.tabla-resultados table{
    width:100%;
}


.campania-dialog mat-card{
  margin-bottom: 22px;
}

.campania-dialog mat-card:last-child{
  margin-bottom: 0;
}
.mat-card{
  border-radius:12px;
  padding:20px;
}