/* .aline{
    float: left;
   width: initial;
} */
.mat-dialog-content {
    /* display: block; */
    /* margin: 0 -20px;  */
    /* padding: 0 24px; */
    /* max-height: 65vh; */
    /* overflow: auto; */
    -webkit-overflow-scrolling: touch;
}

.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    height: 90px;
    /* display: inline-flex; */
    
}
.btn-block {
    display: block;
    width: 100%;
    /* outline-style: auto; */
    box-sizing: border-box;
     margin-top: 1%; 
    
}
.btn-block+.btn-block {
     margin-top: .1rem; 
}

.mat-typography h1 {
    /* font: 400 24px / 32px Roboto, "Helvetica Neue", sans-serif; */
    letter-spacing: normal;
    margin: 0 0 16px;
    margin-left: 250px;
}

.mat-dialog-title {
     margin: 0 0 20px; 
         display: block;
        font: 400 24px / 24px Roboto, "Helvetica Neue", sans-serif; 
        letter-spacing: normal;
        margin: 0 0 16px;
        margin-left: 250px;
}


.aline{
    float: left;
     left: 20%; 
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
